<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-card>
          <mat-card-title>Nearby Chapters</mat-card-title>
          <div *ngIf="!error && !(nearbyChapters$ | async); then loading"></div>
          <div *ngIf="!error && (nearbyChapters$ | async)?.length > 0; then listChapters"></div>
          <div *ngIf="!error && (nearbyChapters$ | async)?.length === 0; then noChapters"></div>
          <div *ngIf="error; then errorTemplate"></div>
        </mat-card>
      </div>
    </div>
  </div>
</section>

<ng-template #listChapters>
  <mat-card-content>
    <mat-list>
      <div *ngFor="let chapter of nearbyChapters$ | async; last as last">
        <a mat-list-item [routerLink]="['/', 'chapter', chapter.$key]">
          <img matListAvatar src="./assets/gdg-logo.jpg" alt="GDG Logo">
          <h3 matLine>{{chapter.name}}</h3>
          <p matLine>{{chapter.city}} - {{chapter.region}}</p>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      </div>
    </mat-list>
  </mat-card-content>
</ng-template>

<ng-template #noChapters>
  <mat-card-content>
    <mat-list>
      <div>
        <a mat-list-item target="_blank" href="https://developers.google.com/community/gdg/organizers/apply/">
          <img matListAvatar src="./assets/gdg-logo.jpg" alt="GDG Logo">
          <h3 matLine>There are no GDG chapters near you</h3>
          <p matLine>Why not start one?</p>
        </a>
      </div>
    </mat-list>
  </mat-card-content>
</ng-template>

<ng-template #loading>
  <mat-card-content>
    <mat-spinner class="loading"></mat-spinner>
  </mat-card-content>
</ng-template>

<ng-template #errorTemplate>
  <mat-card-content>
    <p>We couldn't find any chapters near you, was your GPS off?</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="fetchChapters()">TRY AGAIN</button>
  </mat-card-actions>
</ng-template>
