@import '~@angular/material/theming';
@import './styles/mixins';
@import './styles/variables';

@include mat-core();
$woomera-primary: mat-palette($mat-white);
$woomera-accent: mat-palette($mat-blue, A200, A100, A400);
$woomera-warn: mat-palette($mat-red);
$woomera-theme: mat-light-theme($woomera-primary, $woomera-accent, $woomera-warn);
@include angular-material-theme($woomera-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  &.full {
    width: 100%;
    height: auto;

    &.thin {
      @include thin;
    }
  }
}

mat-card-header {
  img {
    height: 32px;
    margin-left: -32px;
    margin-bottom: 16px;
  }
}

mat-toolbar.mat-toolbar,
mat-card-title.mat-card-title {
  font-family: "Product Sans", "Helvetica Neue", sans-serif;
  color: $text-grey;
}

a {
  text-decoration: none;

  &.inherit {
    color: inherit;
  }
}

section,
div {
  &:not(div) {
    padding-bottom: 16px;
  }

  &.over-banner {
    $more-margin: -128px;

    margin-top: -64px;

    &.more {
      margin-top: $more-margin;
    }

    &.more-sm {
      @media screen and (max-width: 575px) {
        margin-top: $more-margin;
      }
    }
  }

  &.white {
    background-color: white;
  }

  &.grey {
    background-color: $background-grey;
  }

  .banner {
    padding: 0;
    background: no-repeat #000000;
    background-size: cover;
    background-position: center;
    background-image: url('./assets/gdg-header.png');
    height: 40vw;
    min-height: 256px;
    max-height: 512px;
    width: 100%;

    &.overview {
      background-image: url('./assets/gdg-overview.jpg');
    }

    &.thin {
      @include thin;
      height: 20vw;
    }
  }
}

.card-container {
  padding: 8px;
}

.gdg-header-image {
  background-image: url('./assets/gdg-logo.jpg');
  background-size: cover;
}

.mat-drawer-container {
  background-color: $background-grey;
}
