<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>What we do?</h2>
    </div>
    <div class="col-12">
      <p>Google Developer Groups (GDGs) are for developers who are interested in Google's developer technology.</p>
    </div>
    <div class="col-12 col-sm-6 col-md-3 card-container">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar aria-hidden="false" aria-label="Talks">chatbubble</mat-icon>
          <mat-card-subtitle>Talks</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Get updated with the latest news and announcements</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-sm-6 col-md-3 card-container">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar aria-hidden="false" aria-label="Codelabs">code</mat-icon>
          <mat-card-subtitle>Codelabs</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Get hands-on experience and guidance from the community members</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-sm-6 col-md-3 card-container">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar aria-hidden="false" aria-label="Campus Roadshows">school</mat-icon>
          <mat-card-subtitle>Campus Roadshows</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Share knowledge in different Companies, colleges and universities</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-sm-6 col-md-3 card-container">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar aria-hidden="false" aria-label="Live Viewing Parties">airplay</mat-icon>
          <mat-card-subtitle>Live Viewing Parties</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Share knowledge in different Companies, colleges and universities</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
