<section class="banner generic thin d-block d-sm-none"></section>
<section class="banner overview d-none d-sm-block"></section>
<div class="container over-banner more-sm">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <img src="./assets/gdg-logo-long.jpg" alt="GDG">
        </mat-card-header>
        <img class="d-block d-sm-none" mat-card-image src="./assets/gdg-global.jpg" alt="Photo of a GDG attendees">
        <mat-card-content>
          <p>Google Developer Groups (GDGs) are for developers who are interested in Google's developer technology;
            everything from the Android, Chrome, Drive, and Google Cloud platforms, to product APIs like the Cast API,
            Maps API, and YouTube API.
          </p>
          <p>
            A GDG can take many forms -- from just a few people getting together to watch our latest video, to large
            gatherings with demos and tech talks, to events like code sprints and hackathons. However, at the core, GDGs
            are focused on developers and technical content, and the core audience should be developers.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
