<section class="banner thin d-block d-sm-none"></section>
<section class="banner overview d-none d-sm-block"></section>
<div class="container over-banner more-sm">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-header>
          <img src="./assets/gdg-logo-long.png" alt="GDG">
        </mat-card-header>
        <img class="d-block d-sm-none" mat-card-image src="./assets/gdg-overview.jpg" alt="Photo of a GDG attendees">
        <mat-card-content>
          <p>When you join a GDG, you’ll have the opportunity to meet local developers with similar interests in
            technology, attend talks on a wide range of technical topics, and learn new skills through hands-on
            workshops.
            GDG prides itself on being an inclusive environment. Everyone and anyone interested in tech - from
            beginner
            developers to experienced professionals - are welcome to join.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
